.search-results {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    &--loading-spinner {
        margin: 32px auto;
    }

    &--abstracts-container {
        width: 1280px;
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        justify-content: center;
    }

    &--abstract {
        width: calc((100% - 96px) / 3);
        min-width: 300px;
        position: relative;
    }

    &--abstract-title {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            font-size: 24px;
        }
    }

    &--authors {
        font-style: italic;
    }

    &--abstract-text {
        max-height: 200px;
        overflow-y: auto;
    }

    &--abstract-select {
        position: absolute;
        bottom: 24px;
        right: -32px;
        width: 24px;
        height: 24px;
    }
}